
   <option value="Crime">  Crime                                    </option>    
   <option value="Action">  Action                                      </option>    
   <option value="Sports">  Sports                                      </option>    
   <option value="Talk Show and Variety">  Talk Show and Variety                                      </option>    
   <option value="Historical">  Historical                                     </option>    
   <option value="Spy/Espionage">   Spy/Espionage                                    </option>    
   <option value="Animation">  Animation                                      </option>    
   <option value="TV Comedies">   TV Comedies                                      </option>    
   <option value="Comedies">  Comedies                                    </option>    
   <option value="Superhero">   Superhero                                     </option>    
   <option value="Buddy">   Buddy                                      </option>    
   <option value="Fantasy">  Fantasy                                     </option>    
   <option value="Science Fiction">  Science Fiction                                      </option>    
   <option value="Kids' TV">   Kids' TV                                      </option>    
   <option value="Documentary">   Documentary                                      </option>    
   <option value="Stand Up">   Stand Up                                      </option>    
   <option value="Western">   Western                                    </option>    
   <option value="Concert Film">  Concert Film                                      </option>    
   <option value="Talk Show">  Talk Show                                      </option>    
   <option value="Travel">   Travel                                     </option>    
   <option value="LGBTQ+">   LGBTQ+                                     </option>    
   <option value="Romantic Movies">   Romantic Movies                                     </option>    
   <option value="Classic & Cult TV">  Classic & Cult TV                                    </option>    
   <option value="Game Show / Competition">   Game Show / Competition                                      </option>    
   <option value="Faith and Spirituality">   Faith and Spirituality                                    </option>    
   <option value="Animals & Nature">  Animals & Nature                                     </option>    
   <option value="Music">   Music                                      </option>    
   <option value="Music Videos and Concerts">  Music Videos and Concerts                                     </option>    
   <option value="Military and War">  Military and War                                     </option>    
   <option value="Fantasy">   Fantasy                                    </option>    
   <option value="Police/Cop">   Police/Cop                                    </option>    
   <option value="Variety">  Variety                                     </option>    
   <option value="Horror Movies">   Horror Movies                                    </option>    
   <option value="Independent Movies">  Independent Movies                                      </option>    
   <option value="Documentaries">   Documentaries                                    </option>    
   <option value="Classic Movies">  Classic Movies                                    </option>    
   <option value="Lifestyle">   Lifestyle                                     </option>    
   <option value="Sports Movies">  Sports Movies                                     </option>    
   <option value="Independent Movies">   Independent Movies                                     </option>    
   <option value="News">  News                                     </option>    
   <option value="Variety">   Variety                                    </option>    
   <option value="Black Stories">  Black Stories                                     </option>    
   <option value="Anime Series">  Anime Series                                      </option>    
   <option value="Adult Animation">  Adult Animation                                      </option>    
   <option value="Faith & Spirituality">   Faith & Spirituality                                      </option>    
   <option value="Military and War">   Military and War                                    </option>    
   <option value="Coming of Age">  Coming of Age                                     </option>    
   <option value="Children & Family Movies">  Children & Family Movies                                      </option>    
   <option value="Romantic Comedy">   Romantic Comedy                                     </option>    
   <option value="Mystery">  Mystery                                     </option>    
   <option value="Science Fiction">   Science Fiction                                     </option>    
   <option value="International">   International                                    </option>    
   <option value="Cooking & Food">  Cooking & Food                                    </option>    
   <option value="Coming of Age">   Coming of Age                                    </option>    
   <option value="Romance">   Romance                                    </option>    
   <option value="Anthology">   Anthology                                     </option>    
   <option value="Music Videos and Concerts">   Music Videos and Concerts                                    </option>    
   <option value="TV Action & Adventure">   TV Action & Adventure                                     </option>    
   <option value="Musical">   Musical                                    </option>    
   <option value="Parody">   Parody                                     </option>    
   <option value="TV Horror">  TV Horror                                      </option>    
   <option value="LGBTQ Movies">   LGBTQ Movies                                     </option>    
   <option value="Arthouse">  Arthouse                                    </option>    
   <option value="Game Shows">   Game Shows                                    </option>    
   <option value="History">  History                                     </option>    
   <option value="Special Interest">  Special Interest                                     </option>    
   <option value="Biographical">   Biographical                                     </option>    
   <option value="Horror">   Horror                                     </option>    
   <option value="TV Sci-Fi & Fantasy">  TV Sci-Fi & Fantasy                                     </option>    
   <option value="Science & Technology">  Science & Technology                                    </option>    
   <option value="Latino">  Latino                                      </option>    
   <option value="Anthology">  Anthology                                      </option>    
   <option value="Family">   Family                                     </option>    
   <option value="Historical">   Historical                                    </option>    
   <option value="Black Stories">   Black Stories                                    </option>    
   <option value="Sitcom">   Sitcom                                     </option>    
   <option value="Sci-Fi & Fantasy">  Sci-Fi & Fantasy                                     </option>    
   <option value="TV Action & Adventure">  TV Action & Adventure                                      </option>    
   <option value="Stand-Up Comedy & Talk Shows">   Stand-Up Comedy & Talk Shows                                    </option>    
   <option value="Western">  Western                                     </option>    
   <option value="Suspense">   Suspense                                      </option>    
   <option value="LGBTQ Movies">  LGBTQ Movies                                      </option>    
   <option value="Family">  Family                                      </option>    
   <option value="Movies">  Movies                                      </option>    
   <option value="Young Adult Audience">   Young Adult Audience                                      </option>    
   <option value="Horror">  Horror                                      </option>    
   <option value="Animation">   Animation                                     </option>    
   <option value="Classics">  Classics                                    </option>    
   <option value="Teen TV Shows">   Teen TV Shows                                    </option>    
   <option value="Dance">   Dance                                      </option>    
   <option value="Crime">   Crime                                      </option>    
   <option value="Dramas">  Dramas                                      </option>    
   <option value="Spanish-Language TV Shows">   Spanish-Language TV Shows                                    </option>    
   <option value="Reality">   Reality                                    </option>    
   <option value="Comedy">  Comedy                                      </option>    
   <option value="Classic & Cult TV">   Classic & Cult TV                                      </option>    
   <option value="Drama">   Drama                                      </option>    
   <option value="TV Shows">  TV Shows                                    </option>    
   <option value="Adult Animation">   Adult Animation                                     </option>    
   <option value="Talk Show and Variety">   Talk Show and Variety                                     </option>    
   <option value="TV Mysteries">   TV Mysteries                                     </option>    
   <option value="Horror Movies">  Horror Movies                                     </option>    
   <option value="International Movies">  International Movies                                    </option>    
   <option value="British TV Shows">  British TV Shows                                     </option>    
   <option value="Sports">   Sports                                     </option>    
   <option value="Anime">   Anime                                      </option>    
   <option value="Dance">  Dance                                    </option>    
   <option value="Game Shows">  Game Shows                                     </option>    
   <option value="Suspense">  Suspense                                    </option>    
   <option value="Korean TV Shows">   Korean TV Shows                                     </option>    
   <option value="Reality TV">   Reality TV                                    </option>    
   <option value="Music & Musicals">  Music & Musicals                                     </option>    
   <option value="Sketch Comedy">   Sketch Comedy                                    </option>    
   <option value="TV Dramas">  TV Dramas                                      </option>    
   <option value="Arthouse">   Arthouse                                      </option>    
   <option value="Teen">   Teen                                    </option>    
   <option value="Music & Musicals">   Music & Musicals                                    </option>    
   <option value="Spanish-Language TV Shows">  Spanish-Language TV Shows                                     </option>    
   <option value="Classic Movies">   Classic Movies                                      </option>    
   <option value="Sci-Fi & Fantasy">   Sci-Fi & Fantasy                                    </option>    
   <option value="Dramas">   Dramas                                     </option>    
   <option value="Soap Opera / Melodrama">   Soap Opera / Melodrama                                    </option>    
   <option value="Sports Movies">   Sports Movies                                    </option>    
   <option value="Health & Wellness">   Health & Wellness                                      </option>    
   <option value="History">   History                                    </option>    
   <option value="Thriller">  Thriller                                    </option>    
   <option value="Unscripted">   Unscripted                                    </option>    
   <option value="Faith and Spirituality">  Faith and Spirituality                                     </option>    
   <option value="Series">  Series                                      </option>    
   <option value="Cult Movies">   Cult Movies                                      </option>    
   <option value="Action-Adventure">  Action-Adventure                                     </option>    
   <option value="and Culture">   and Culture                                      </option>    
   <option value="Kids">  Kids                                     </option>    
   <option value="Romantic TV Shows">  Romantic TV Shows                                    </option>    
   <option value="Adventure">  Adventure                                      </option>    
   <option value="Romantic Movies">  Romantic Movies                                      </option>    
   <option value="Latino">   Latino                                     </option>    
   <option value="News">   News                                    </option>    
   <option value="Docuseries">   Docuseries                                    </option>    
   <option value="LGBTQ">  LGBTQ                                    </option>    
   <option value="Anime Features">   Anime Features                                      </option>    
   <option value="TV Comedies">  TV Comedies                                    </option>    
   <option value="Science & Nature TV">   Science & Nature TV                                    </option>    
   <option value="Comedies">   Comedies                                      </option>    
   <option value="TV Dramas">   TV Dramas                                     </option>    
   <option value="Anime">  Anime                                    </option>    
   <option value="Music">  Music                                    </option>    
   <option value="Reality TV">  Reality TV                                     </option>    
   <option value="Fitness">  Fitness                                     </option>    
   <option value="Stand-Up Comedy & Talk Shows">  Stand-Up Comedy & Talk Shows                                     </option>    
   <option value="Arts">   Arts                                    </option>    
   <option value="Docuseries">  Docuseries                                     </option>    
   <option value="Lifestyle & Culture">   Lifestyle & Culture                                    </option>    
   <option value="TV Thrillers">   TV Thrillers                                     </option>    
   <option value="Stand-Up Comedy">   Stand-Up Comedy                                     </option>    
   <option value="Disaster">   Disaster                                      </option>    
   <option value="Entertainment">   Entertainment                                    </option>    
   <option value="Thriller">   Thriller                                      </option>    
   <option value="Lifestyle & Culture">  Lifestyle & Culture                                     </option>    
   <option value="Action & Adventure">  Action & Adventure                                      </option>    
   <option value="Anime Features">  Anime Features                                    </option>    
   <option value="LGBTQ">   LGBTQ                                      </option>    
   <option value="Kids' TV">  Kids' TV                                    </option>    
   <option value="Young Adult Audience">  Young Adult Audience                                    </option>    
   <option value="Musical">  Musical                                     </option>    
   <option value="Drama">  Drama                                    </option>    
   <option value="Cult Movies">  Cult Movies                                    </option>    
   <option value="Romance">  Romance                                     </option>    
   <option value="International Movies">   International Movies                                      </option>    
   <option value="Thrillers">   Thrillers                                     </option>    
   <option value="Late Night">   Late Night                                    </option>    
   <option value="Documentary">  Documentary                                    </option>    
   <option value="Arts">  Arts                                     </option>    
   <option value="Crime TV Shows">   Crime TV Shows                                      </option>    
   <option value="Documentaries">  Documentaries                                     </option>    
   <option value="Adventure">   Adventure                                     </option>    
   <option value="Romantic TV Shows">   Romantic TV Shows                                      </option>    
   <option value="TV Sci-Fi & Fantasy">   TV Sci-Fi & Fantasy                                    </option>    
   <option value="International TV Shows">  International TV Shows                                     </option>    
   <option value="Survival">   Survival                                      </option>    
   <option value="Classics">   Classics                                      </option>    
   <option value="Comedy">   Comedy                                     </option>    
   <option value="Cartoons">   Cartoons                                      </option>    
   <option value="Biographical">  Biographical                                      </option>    
   <option value="TV Horror">   TV Horror                                     </option>    
   <option value="Medical">   Medical                                    </option>    
   <option value="Cartoons">  Cartoons                                    </option>    
   <option value="Lifestyle">  Lifestyle                                      </option>    
   <option value="International">  International                                     </option>    
   <option value="Thrillers">  Thrillers                                      </option>    
   <option value="Mystery">   Mystery                                    </option>    
   <option value="Reality">  Reality                                     </option>    
   <option value="Animals & Nature">   Animals & Nature                                    </option>    
   <option value="Unscripted">  Unscripted                                     </option>    
   <option value="Buddy">  Buddy                                    </option>    
   <option value="International TV Shows">   International TV Shows                                    </option>    
   <option value="Special Interest">   Special Interest                                    </option>    
   <option value="Kids">   Kids                                    </option>    
   <option value="Crime TV Shows">  Crime TV Shows                                    </option>    
   <option value="Game Show / Competition">  Game Show / Competition                                    </option>    
   <option value="Science & Technology">   Science & Technology                                      </option>    
   <option value="Children & Family Movies">   Children & Family Movies                                     </option>    
   <option value="Stand-Up Comedy">  Stand-Up Comedy                                      </option>    
